{% extends 'base.html' %}

{% block title %}
Todolist
{% endblock title %}

{% block content %}
<main>
    <h1>Are you sure?</h1>
    <form method="POST">
        {% csrf_token %}
        <button>Delete</button>
    </form>
</main>
{% endblock content %}
