{% extends 'base.html' %}

{% block title %}
Todolist
{% endblock title %}

{% block content %}
<main>
    <h1>{{ todos_details }}</h1>
    <div>
        <p>
            <a href="{% url 'todo_list_update' id=todos_details.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' id=todos_details.id %}">Delete</a>
        </p>
    </div>
    <h2>Tasks</h2>
    <table>
        <tr>
            <th> Task </th>
            <th> Due date </th>
        </tr>
        {% for item in todos_details.items.all %}
        <tr>
            <td>
                <a href="{% url 'todo_item_update' id=todos_details.id %}">{{ item.task }}</a>
            </td>
            <td>{{ item.due_date|date:"M d,Y" }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
