{% extends 'base.html' %}

{% block title %}
Todolist
{% endblock title %}

{% block content %}
<main>
    <h1>Update list</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
    </form>
</main>
{% endblock content %}
