{% extends 'base.html' %}

{% block title %}
Todolist
{% endblock title %}

{% block content %}
<main>
    <h1> My Lists </h1>
    <div>
        <p>
            <a href="{% url 'todo_list_create' %}"> Create a new list</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
    </div>
    <table>
        <tr>
            <th> Name </th>
            <th> Number of items </th>
        </tr>
        {% for object in todo_objects %}
        <tr>
            <td>
                <a href="{% url 'todo_list_detail' object.id %}">{{ object.name }}</a>
            </td>
            <td>{{ object.items.count }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
